.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Theme related
.DS_Store
node_modules
.env.local
.env.development.local
.env.test.local
.env.production.local

